<html lang="en">
<head>
	<title>Product Compare</title>
	
	{% load static %}
	<link href="{% static 'cloud/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

	  <!-- Custom fonts for this template -->
	  <link href="{% static 'cloud/vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet">
	  <link href="{% static 'cloud/vendor/simple-line-icons/css/simple-line-icons.css'%}" rel="stylesheet" type="text/css">
  	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="{% static 'cloud/css/landing-page.min.css'%}" rel="stylesheet">


  	<!-- Custom styles for this template -->
	<link href="{% static 'cloud/compare.css'%}" rel="stylesheet">

</head>
<body>
	<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Product Compare</h1>
        </div>
		<table style="border:2px; text-color:white">
			<tr>
				<th>검색어 순위</th>
				<th>검색어</th>
			</tr>
			{%for rank in ranks%}
			<tr>	
				<td>{{rank.rank}}</td>
				<td>{{rank.pname}}</td>
			</tr>
			{% endfor %}
		</table>
      	</div>
    </div>
  </header>

<section class="showcase">
    <div class="container-fluid p-0">
      <h2>Review</h2>
      <div class="row no-gutters">

         <div class="col-lg-6 order-lg-1 my-auto showcase-text">
           <h2>SEARCH1</h2>
           
         </div>
         <div class="col-lg-6 order-lg-1 my-auto showcase-text">
           <h2>SEARCH2</h2>
           
         </div>
      </div>
      <div class="divleftright">
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
		{% for review in reviews %}
		<div class = "content-div">
			<p class="lend mb-0">{{review.review1}}</p>
			<p class="lend mb-0"><a href={{review.url}}>{{review.url}}</a></p>
		</div>
		{% endfor%}
	</div>
	<div class="col-lg-6 order-lg-1 my-auto showcase-text"> 
         	{% for sreview in sreviews %}
                <div class = "content-div">
                        <p class="lend mb-0">{{sreview.review}}</p>
                        <p class="lend mb-0"><a href={{sreview.url}}>{{sreview.url}}</a></p>
                </div>
                {% endfor%}
	</div>
      </div>
    </div>
</section>
  <hr style="border-width: 3px; border-color:coral">
   
   <section class="showcase">
    <div class="container-fluid p-0">
      <h2>Shopping</h2>
      <div class="row no-gutters">

         <div class="col-lg-6 order-lg-1 my-auto showcase-text">
           <h2>Search1</h2>
           
         </div>
         <div class="col-lg-6 order-lg-1 my-auto showcase-text">
           <h2>Search2</h2>
           
         </div>
      </div>
     
     
      <div class="divleftright">
         <div class="col-lg-6 order-lg-1 my-auto showcase-text">
	    {% for shop in shoppings %}
            <div class="content-div">
            <h5><a href="{{shop.url}}">{{shop.title}}</a></h5>
            <img src="{{shop.img}}" style="float:left">
            <p class="lead mb-0">{{shop.price}}</p>
	    <p class="lead mb-0">{{shop.detail}}</p>
            </div>
            {% endfor %}
         </div>
          
         <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            {% for shop in shoppings2 %}
            <div class="content-div">
            <h5><a href="{{shop.url}}">{{shop.title}}</a></h5>
            <img src="{{shop.img}}" style="float:left">
            <p class="lead mb-0">{{shop.price}}</p>
	    <p class="lead mb-0">{{shop.detail}}</p>
            </div>
            {% endfor %}
           </div>
      </div>
      
     
      </div>
     
    </div>
  </section>
   
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>    </table>
</body>
</html>
